body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
}


.navbar{
    background-color: white;
}

.fa-house-flood-water{
    color: #fe424d;
    margin-right: 0.5rem;
    font-size: 2rem;
}

.navlink{
    color: #222222 !important;
}

.f-info-links a{
    color: #222222 !important;
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    padding: 1rem 0;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
.card {
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0px !important;
}

.card-text {
    font-weight: 600 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}